@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-VariableFont_wght.ttf');
}
*{
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFF;
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
}